body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e293b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
    gap: 20px;
}
.container h1 {
    font-size: 1.8rem;
    color: #ffffff;
    
}

.container h1 span {
    color: #4ADF86;
}

.container p {
    font-size: 0.9rem;
    color: #D5D4D8;
    margin-bottom: 20px;
}
.card {
    background-color: #1F2937;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 400px;
    height: 300px;
    border: #D5D4D8 2px solid;
}

button {
    background-color: #10B981;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}
hr {
    margin: 20px 0;
}
.password-boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.password-box {
    background-color: #273549;
    color: #55F991;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    font-size: 1rem;
}
input {
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    margin-top: 10px;
    background-color: #273549;
    color: #ffffff;
}
input::placeholder {
    font-size: small;
}